.profile .logo h1{
    font-size: 32px;
    padding-left: 112px;

    @media screen and (max-width: 1200px) {
        width: 100%;
        padding-left: 0px;

    }
}

.profile nav {
    margin-bottom: 50px;
}

.profile .logo {
    position: absolute;
    width: fit-content;
    @media screen and (max-width: 1200px) {
        position: relative;
        text-align:center;
        width: 100%;

    }

}

.profile .row {
    width: 100%;
}

.profile #search-addon-profile {
    background-color: #fff;
    border-color: #8C19D2;
}

.profile .form-control:focus {
    box-shadow: none !important;
    border-color: #8C19D2 !important;
}

.profile .form-control {
    border-color: #8C19D2;
    border-left: #fff !important;
}

.profile .input-group {
    width: 30%;
    @media screen and (max-width: 1200px) {
        width: 90%;
        margin-left: 5%;

    }
}

.profile .card {
    margin: 0px 0 10px 0;
}

.profile .card-profile {
    margin-left: 112px;
    @media screen and (max-width: 1200px) {
        margin-left: 0px;

    }
}

.profile .follows {
    margin-bottom: 27px;
}

.profile img {
    border-radius: 50%;
}

.profile .btn {
    background-color: #8C19D2 !important;
    color: #fff !important;
    border-radius: 6px !important;
    width: calc(100% - 112px);;
    margin-left: 112px;

    @media screen and (max-width: 1200px) {
        margin-left: 0;
        margin-bottom: 5%;
        width: 100%;
    }
  }

.profile .timed {
    font-size: 14px;
}

.profile .card .title {
    text-decoration: none;
    color: black;
}

.profile .card .card-title {
    font-weight: 700;
}