.App {
  position: absolute;
  height: 109px;
  width: 100%;
  top: 30%;
}

.App h1 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 109px;
  letter-spacing: 0.01em;
  text-align: center;

  @media screen and (max-width:800px) {
    font-size: 50px;
  }
}

.App .inputGroup {
  position: absolute;
  width: 800px;
  height: 48px;
  left: 320px;
}

.input-group {
  padding: 56px 270px;

  @media screen and (max-width:1000px) {
    padding: 0px 0px;
  }
}

.form-control {
  border-left: #fff !important;

  @media screen and (max-width:580px) {
    border-left: #fff !important;
    height: 48px !important ;
  }
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #dee2e6 !important;
}

.btn {
  background-color: #8C19D2 !important;
  color: #fff !important;
  margin-left: 32px !important;
  border-radius: 6px !important;
  width: 176px;

  @media screen and (max-width:400px) {
    width: 100px !important ;
  }
}

.input-group-text {
  height: 48px;
}

#basic-addon1 {
  background-color: #fff;
}
